@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");

@import "tailwindcss";
@import "./tokens.css";

html, body {
  font-family: var(--font-family-base);
  background-color: var(--gray-800);
  color: var(--gray-100);
}

